<section>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="submit()" #transactionForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="transaction.author"
            name="name"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [(ngModel)]="transaction.email"
            name="email"
            required
          />
        </mat-form-field>
        <mat-label for="file">File:</mat-label>
        <input
          type="file"
          id="file"
          name="file"
          (change)="onFileChange($event)"
          required
        />
        <button mat-raised-button type="submit">Submit</button>
      </form>
      <div *ngIf="transaction.file_info">
        <p>File Name: {{ transaction.fileName }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <button mat-raised-button (click)="viewPrev()">View Previous Files</button>
  <mat-card *ngIf="previous">
    <mat-card-title>Previous CIDs</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let p of previous">
          {{ p.cid }} - {{ p.file_name }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card> -->
</section>
