section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;

  mat-card {
    width: 80%;
  
    mat-card-content {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        mat-form-field {
          width: 75%;
          mat-label {
            font-size: 16px;
            color: white;
          }
        }

        mat-label {
          margin-bottom: 10px;
        }

        button {
          padding: 10px 20px;
          align-self: center;
          gap: 5px;

          mat-icon {
            font-size: 18px;
          }
        }
      }

      mat-card-footer {
        p {
          font-size: 16px;
          font-weight: 500;
          margin-top: 10px;
        }
      }
    }
  }
}
