section {
  margin: 20px;
}

// Styling for the mat-card
mat-card {
  margin-bottom: 20px;
  mat-card-content {
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      // Style for the mat-form-field
      mat-form-field {
        width: 100%;
        mat-label {
          font-size: 16px;
          color: white
        }
      }

      // Style for file input label
      mat-label {
        margin-bottom: 10px;
      }

      // Style for the file input
      input[type="file"] {
        margin-bottom: 15px;
      }

      // Style for the submit button
      button {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 5px;

        mat-icon {
          font-size: 18px;
        }
      }
    }

    // Style for displaying the file name
    div {
      p {
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
      }
    }
  }
}