section {
  margin: 20px;
}

// Styling for the mat-card
mat-card {
  margin-bottom: 20px;
  mat-card-title {
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  mat-card-content {
    p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}

// Styling for the expansion panel
mat-expansion-panel {
  margin-bottom: 10px;
  mat-expansion-panel-header {
    mat-panel-title {
      font-size: 18px;
      font-weight: 600;
    }
  }
  mat-list {
    mat-list-item {
      p {
        font-size: 14px;
      }
      a {
        font-size: 14px;
        color: #007bff;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Nested mat-expansion-panel for transactions
mat-expansion-panel mat-expansion-panel {
  margin-left: 20px;
  mat-expansion-panel-header {
    font-size: 16px;
    font-weight: 500;
  }
}
