<section *ngIf="blockchain">
  <mat-card>
    <mat-card-title>Blockchain Status</mat-card-title>
    <mat-card-content>
      <p>Length: {{ blockchain.length }}</p>
      <p>Nodes: {{ blockchain.nodes.join(", ") }}</p>
    </mat-card-content>
  </mat-card>

  <div *ngFor="let block of blockchain.chain">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Block {{ block.index }} </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <p>Previous Hash: {{ block.previous_hash }}</p>
        </mat-list-item>
        <mat-list-item>
          <p>Hash: {{ block.hash }}</p>
        </mat-list-item>
        <mat-list-item>
          <p>Timestamp: {{ block.timestamp }}</p>
        </mat-list-item>
        <div *ngFor="let tx of block.transactions">
          <mat-expansion-panel
            ><mat-expansion-panel-header
              >Transaction:
            </mat-expansion-panel-header>
            <mat-list-item>
              <p>Author: {{ tx.author }}</p>
            </mat-list-item>
            <mat-list-item>
              <p>Email: {{ tx.email }}</p>
            </mat-list-item>
            <mat-list-item>
              File Name: {{tx.name}}
            </mat-list-item>
            <mat-list-item>
              File Extension: {{tx.ext}}
            </mat-list-item>
            <mat-list-item>
              <a (click)="downloadFile(tx.file, tx.fileName, tx.fileExt)">File: {{ tx.file }}</a>
            </mat-list-item></mat-expansion-panel
          >
        </div>
      </mat-list>
    </mat-expansion-panel>
  </div>
</section>
