<section *ngIf="blockchain">
  <mat-card>
    <mat-card-title>Blockchain Status</mat-card-title>
    <mat-card-content>
      <p>Length: {{ blockchain.length }}</p>
      <p>Nodes: {{ blockchain.nodes.join(", ") }}</p>
    </mat-card-content>
  </mat-card>

  <div *ngFor="let block of blockchain.chain">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Block {{ block.index }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <p>Previous Hash: {{ block.previous_hash }}</p>
        </mat-list-item>
        <mat-list-item>
          <p>Hash: {{ block.hash }}</p>
        </mat-list-item>
        <mat-list-item>
          <p>Timestamp: {{ block.timestamp }}</p>
        </mat-list-item>

        <div *ngFor="let tx of block.transactions">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Transaction:
            </mat-expansion-panel-header>
            <mat-list-item>
              <p>Author: {{ tx.author }}</p>
            </mat-list-item>
            <mat-list-item>
              <p>Email: {{ tx.email }}</p>
            </mat-list-item>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                File Name: {{ tx.file_info.name }}
              </mat-expansion-panel-header>
              <mat-list-item *ngIf="tx.file_info.previous">
                <p>Previous File CID: {{ tx.file_info.previous }}</p>
              </mat-list-item>
              <mat-list-item>
                <p
                  (click)="
                    downloadFile(tx.file_info.current, tx.file_info.name)
                  "
                >
                  Current File CID: <a>{{ tx.file_info.current }}</a>
                  <mat-progress-bar
                    *ngIf="isLoading"
                    mode="indeterminate"
                  ></mat-progress-bar>
                </p>
              </mat-list-item>
            </mat-expansion-panel>
            <!-- <mat-list-item *ngIf="tx.chain.previous_chain_cid">
              <p>Previous Chain CID: {{ tx.chain.previous_chain_cid }}</p>
            </mat-list-item> -->
            <mat-list-item>
              <p>Current Chain CID: {{ tx.chain.versions }}</p>
            </mat-list-item>
          </mat-expansion-panel>
        </div>
      </mat-list>
    </mat-expansion-panel>
  </div>
</section>
