<section>
  <mat-card *ngIf="author">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Author: {{ author.author }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list *ngFor="let file of author.files">
        <mat-list-item>
          <p>File Name: {{ file.name }}</p>
        </mat-list-item>
        <mat-list-item>
          <p>File CID: {{ file.cid }}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-card>
</section>
